@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background-color: #1a1a1a;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* General classes */
.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2a2a2a;
  transition: background-color 0.1s ease;
  border: 2px solid #6a6a6a;
}

.arrow-btn:hover {
  background-color: #3a3a3a;
}

.arrow-up {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

.arrow-down {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.underline {
  display: block;
  margin: 0.5rem 0 1rem 0;
  width: 60%;
  border: 1px solid #6a6a6a;
}

/* Nav classes */
.nav-btn {
  background-color: #2a2a2a;
  padding: 1rem;
  font-size: 1.5rem;
  border-left: 2px solid #6a6a6a;
  border-bottom: 2px solid #6a6a6a;
  transition: background-color 0.1s;
}

.nav-btn:hover {
  background-color: #3a3a3a;
}

@media screen and (max-width: 960px) {
  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 100%;
    border-left: none;
    border-bottom: 2px solid #6a6a6a;
  }

  .mobile-menu-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px;
    background-color: #fff;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
  }
}

/* About classes */
.about-btn {
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  background-color: #3a3a3a;
  border: 2px solid #6a6a6a;
  padding: 0.5rem;
  transition: background-color 0.1s;
}

.about-btn:hover {
  background-color: #4a4a4a;
}

@media screen and (max-width: 960px) {
  .about-btn {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .about-btn {
    font-size: 1rem;
  }
}

/* Projects classes */
.projects-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: #2a2a2a;
  border: 2px solid #6a6a6a;
}

.projects-card-top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.projects-card-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s all ease;
  background-color: #3a3a3a;
  width: 100%;
  height: 0;
}

.projects-card-overlay.show {
  height: 100%;
  transition: 0.3s all ease;
}

.projects-card-text {
  opacity: 0;
  margin: 2rem;
  text-align: center;
  transition: 0.3s all ease;
}

.projects-card-text.show {
  opacity: 1;
  transition: 0.3s all ease;
}

.projects-card-btns {
  display: flex;
}

.projects-btn {
  text-align: center;
  color: #fff;
  background-color: #3a3a3a;
  border: none;
  padding: 0.5rem;
  transition: background-color 0.1s;
  width: 100%;
}

.projects-btn:hover {
  background-color: #4a4a4a;
}

/* Footer classes*/
.icon {
  width: 60px;
  border-radius: 50%;
  background-color: #3a3a3a;
  border: 2px solid #6a6a6a;
  margin: 0.25rem;
  transition: background-color 0.1s ease;
}

.icon:hover {
  background-color: #4a4a4a;
}

/* Nav section*/
#nav {
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  z-index: 999;
}

#nav-logo {
  display: flex;
  width: 100%;
  background-color: #2a2a2a;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  transition: background-color 0.1s;
  border-bottom: 2px solid #6a6a6a;
}

#nav-logo:hover {
  background-color: #3a3a3a;
}

#nav-menu {
  display: flex;
}

@media screen and (max-width: 960px) {
  #mobile-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1.1rem;
    background-color: #2a2a2a;
    border-left: 2px solid #6a6a6a;
    border-bottom: 2px solid #6a6a6a;
  }

  #mobile-menu:hover {
    background-color: #4a4a4a;
  }

  #mobile-menu.cross .mobile-menu-bar:nth-child(1) {
    transform: translate(0, 9px) rotate(45deg);
  }

  #mobile-menu.cross .mobile-menu-bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.cross .mobile-menu-bar:nth-child(3) {
    transform: translate(0, -9px) rotate(-45deg);
  }

  #nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 40vh;
    width: 100%;
    position: absolute;
    top: -10000px;
  }

  #nav-menu.drop-down {
    top: 62px;
  }
}

/* Home section*/
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border-bottom: 1px solid #6a6a6a;
}

#home-container {
  background-color: #2a2a2a;
  border: 2px solid #6a6a6a;
  padding: 4rem 4rem 0 4rem;
  margin: 4rem;
  width: 60%;
}

#home h1 {
  font-size: 4rem;
}

#home h2 {
  font-size: 3rem;
}

#home p {
  font-size: 1.5rem;
}

#home-arrow {
  display: flex;
  justify-content: center;
}

#home-arrow .arrow-btn {
  position: relative;
  top: 30px;
}

@media screen and (max-width: 1400px) {
  #home-container {
    width: 80%;
  }
}

@media screen and (max-width: 960px) {
  #home h1 {
    font-size: 3rem;
  }

  #home h2 {
    font-size: 2rem;
  }

  #home p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  #home h1 {
    font-size: 2rem;
  }

  #home h2 {
    font-size: 1.5rem;
  }

  #home p {
    font-size: 1rem;
  }

  #home-container {
    width: 95%;
    padding: 2rem 2rem 0 2rem;
  }
}

/* About section*/
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border-bottom: 1px solid #6a6a6a;
}

#about h1 {
  font-size: 3rem;
}

#about p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#about-container {
  background-color: #2a2a2a;
  border: 2px solid #6a6a6a;
  padding: 4rem 4rem 0 4rem;
  margin: 4rem;
  width: 60%;
}

#about-btns {
  display: flex;
}

#about-btns a {
  margin-right: 0.5rem;
}

#about-arrow {
  display: flex;
  justify-content: center;
}

#about-arrow .arrow-btn {
  position: relative;
  top: 30px;
}

@media screen and (max-width: 1400px) {
  #about-container {
    width: 80%;
  }
}

@media screen and (max-width: 960px) {
  #about h1 {
    font-size: 2.5rem;
  }

  #about p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  #about h1 {
    font-size: 2rem;
  }

  #about p {
    font-size: 1rem;
  }

  #about-btns {
    flex-direction: column;
  }

  #about-btns a {
    margin-top: 0.25rem;
  }

  #about-container {
    width: 95%;
    padding: 2rem 2rem 0 2rem;
  }
}

/* Projects section*/
#projects {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#projects h1 {
  font-size: 3rem;
}

#projects h2 {
  font-size: 2rem;
}

#projects-description {
  font-size: 1.5rem;
  text-align: center;
}

#projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0.5rem 0 0.5rem 0;
}

#projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  width: 80%;
  margin: 0.5rem 0 0.5rem 0;
}

#projects .projects-card:nth-of-type(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('imgs/react-calculator.png');
  background-position: center;
}

#projects .projects-card:nth-of-type(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('imgs/to-do-app.png');
}

#projects .projects-card:nth-of-type(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('imgs/yelp-camp.png');
}

#projects .projects-btn:nth-of-type(1) {
  border-top: 2px solid #6a6a6a;
  border-right: 2px solid #6a6a6a;
}

#projects .projects-btn:nth-of-type(2) {
  border-top: 2px solid #6a6a6a;
}

@media screen and (max-width: 1400px) {
  #projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 960px) {
  #projects h1 {
    font-size: 2.5rem;
  }

  #projects h2 {
    font-size: 1.5rem;
  }

  #projects-description {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  #projects h1 {
    font-size: 2rem;
  }

  #projects h2 {
    font-size: 1.25rem;
  }

  #projects-description {
    font-size: 1rem;
  }

  #projects-grid {
    grid-template-columns: 1fr;
    width: 95%;
  }
}

/* Footer */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#footer-arrow {
  display: flex;
  justify-content: center;
}

#footer-arrow .arrow-btn {
  position: relative;
  top: 30px;
}

#footer-btns {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #6a6a6a;
  background-color: #2a2a2a;
}
