/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Hack, monospace;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background-color: #1a1a1a;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Nav */
.nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 4rem;
  background-color: #2a2a2a;
  border-bottom: 1px solid #4a4a4a;
}

.nav__logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  transition: background-color 0.1s;
}

.nav__logo:hover {
  background-color: #3a3a3a;
}

.nav__logo span {
  padding: 1rem;
}

.nav__anchor {
  padding: 1rem;
  font-size: 1.5rem;
  border-left: 1px solid #4a4a4a;
  transition: background-color 0.1s;
}

.nav__anchor:hover {
  background-color: #3a3a3a;
}

.nav__menu {
  display: none;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-bottom: 1px solid #4a4a4a;
}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 4rem;
}

.home__card {
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
  border: 1px solid #4a4a4a;
}

.home__card-content {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 2rem;
}

.home__anchors {
  display: flex;
}

.home__anchor {
  width: 100%;
  text-align: center;
  padding: 1rem;
  transition: background-color 0.1s;
  border-top: 1px solid #4a4a4a;
}

.home__anchor:nth-child(1) {
  border-right: 1px solid #4a4a4a;
}

.home__anchor:hover {
  background-color: #4a4a4a;
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
}

.projects__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  gap: 0.5rem;
  margin: 4rem;
}

.projects__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  border: 1px solid #4a4a4a;
}

.projects__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
}

.projects__card:nth-of-type(1) .projects__card-content {
  background-color: #932420;
}

.projects__card:nth-of-type(2) .projects__card-content {
  background-color: #10161d;
}

.projects__card:nth-of-type(3) .projects__card-content {
  background-image: linear-gradient(#dc8c00, #2b2b2b);
  background-color: #2b2b2b;
}

.projects__card-anchors {
  display: flex;
}

.projects__card-anchor {
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: #2a2a2a;
  border-top: 1px solid #4a4a4a;
  padding: 0.5rem;
  transition: background-color 0.1s;
}

.projects__card-anchor:hover {
  background-color: #3a3a3a;
}

.projects__card-anchor:nth-of-type(1) {
  border-right: 1px solid #4a4a4a;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
  border-top: 1px solid #4a4a4a;
}

.footer__anchor {
  padding: 1rem;
  transition: background-color 0.1s;
  border-left: 1px solid #4a4a4a;
}

.footer__anchor:last-child {
  border-right: 1px solid #4a4a4a;
}

.footer__anchor:hover {
  background-color: #3a3a3a;
}

.footer__anchor img {
  transform: scale(1.5);
}

/* Breakpoints */
@media screen and (max-width: 768px) {
  /* Global */
  html {
    font-size: 10px;
  }

  /* Nav */
  .nav__anchor {
    display: none;
  }

  .nav__menu {
    display: block;
    cursor: pointer;
    padding: 1rem;
    transition: background-color 0.1s;
    border-left: 1px solid #4a4a4a;
  }

  .nav__menu:hover {
    background-color: #3a3a3a;
  }

  /* Projects */
  .projects__content {
    grid-template-columns: 1fr;
  }

  /* Footer */
  .footer__anchor img {
    transform: scale(1);
  }
}
