/* Footer classes */
.icon {
  width: 60px;
  border-radius: 50%;
  background-color: #3a3a3a;
  border: 2px solid #6a6a6a;
  margin: 0.25rem;
  transition: background-color 0.1s ease;
}

.icon:hover {
  background-color: #4a4a4a;
}

/* Footer id's */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#footer-arrow {
  display: flex;
  justify-content: center;
}

#footer-arrow .arrow-btn {
  position: relative;
  top: 30px;
}

#footer-btns {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #6a6a6a;
  background-color: #2a2a2a;
}
