.about__description {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.about__btn {
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  background-color: #3a3a3a;
  border: 2px solid #6a6a6a;
  border-radius: 2.5%;
  padding: 0.5rem;
  transition: background-color 0.1s;
  margin-right: 0.5rem;
}

.about__btn:hover {
  background-color: #4a4a4a;
}

@media screen and (max-width: 768px) {
  .about__description {
    font-size: 1rem;
  }

  .about__btn {
    font-size: 1.4rem;
  }
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border-bottom: 1px solid #6a6a6a;
}

#about__heading {
  font-size: 3rem;
}

#about__container {
  background-color: #2a2a2a;
  border: 2px solid #6a6a6a;
  border-radius: 10px;
  padding: 4rem 4rem 0 4rem;
  margin: 4rem;
  min-width: 400px;
  max-width: 1000px;
  height: auto;
}

#about__arrow {
  display: flex;
  justify-content: center;
}

#about__arrow .arrow-btn {
  position: relative;
  top: 30px;
}

@media screen and (max-width: 768px) {
  #about__heading {
    font-size: 1.8rem;
  }

  #about__container {
    min-width: 95%;
    padding: 2rem 2rem 0 2rem;
  }
}
