/* Projects classes */
.projects-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: #2a2a2a;
  border: 2px solid #6a6a6a;
}

.projects-card-top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.projects-card-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s all ease;
  background-color: #3a3a3a;
  width: 100%;
  height: 0;
}

.projects-card-overlay.show {
  height: 100%;
  transition: 0.3s all ease;
}

.projects-card-text {
  opacity: 0;
  margin: 2rem;
  text-align: center;
  transition: 0.3s all ease;
}

.projects-card-text.show {
  opacity: 1;
  transition: 0.3s all ease;
}

.projects-card-btns {
  display: flex;
}

.projects-btn {
  text-align: center;
  color: #fff;
  background-color: #3a3a3a;
  border: none;
  padding: 0.5rem;
  transition: background-color 0.1s;
  width: 100%;
}

.projects-btn:hover {
  background-color: #4a4a4a;
}

/* Projects id's */
#projects {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#projects-top {
  text-align: center;
}

#projects-top h1 {
  font-size: 3rem;
}

#projects-top p {
  font-size: 1.5rem;
}

#projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 4rem 0 3rem 0;
}

#projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  width: 80%;
  margin-top: 1rem;
}

#projects-grid h2 {
  font-size: 2rem;
}

#projects-grid .projects-card:nth-of-type(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../imgs/react-calculator.png');
  background-position: center;
}

#projects-grid .projects-card:nth-of-type(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../imgs/to-do-app.png');
}

#projects-grid .projects-card:nth-of-type(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../imgs/yelp-camp.png');
}

#projects-grid .projects-btn:nth-of-type(1) {
  border-top: 2px solid #6a6a6a;
  border-right: 2px solid #6a6a6a;
}

#projects-grid .projects-btn:nth-of-type(2) {
  border-top: 2px solid #6a6a6a;
}

@media screen and (max-width: 1400px) {
  #projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  #projects-top h1 {
    font-size: 2rem;
  }

  #projects-top p {
    font-size: 1.25rem;
  }

  #projects-grid h2 {
    font-size: 1.5rem;
  }

  #projects-grid {
    grid-template-columns: 1fr;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  #projects-top h1 {
    font-size: 1.6rem;
  }

  #projects-top p {
    font-size: 1rem;
  }

  #projects-grid h2 {
    font-size: 1.2rem;
  }
}
